@model HomeVM

@{
    ViewData["Title"] = "Home Page";
    List<Rating> ratings = ViewBag.Ratings;
}

@section Links{
    <link rel="stylesheet" href="~/assets/slick/slick.css" />
    <link rel="stylesheet" href="~/assets/slick/slick-theme.css" />
}

<section class="imageslider">
    <div class="container">
        <div class="slideshow-container">
            <div class="slideshow-inner">
                @foreach (var slider in Model.Sliders)
                {
                    <div class="mySlides">
                        <img src="assets/img/@slider.Image" alt="" />
                        <div class="slide-text">
                            <span>@slider.Title</span>
                            <h1 class="img-slide-title">
                                @Html.Raw(slider.Content)
                            </h1>
                            <a asp-controller="Product" asp-action="Index">
                                <button class="browse-store-btn">
                                    <h1>Browse Store</h1>
                                </button>
                            </a>
                        </div>
                    </div>
                }
                <div style="text-align: center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bestsellingbooksever">
    <div class="container">
        <h2>Best Selling Books Ever</h2>
        <div class="wrapper">
            <i id="left" class="fa-solid fa-angle-left"></i>
            <ul class="carousel">
                @foreach (var product in Model.Products)
                {
                    <li class="card">
                        <div class="card_image">
                            <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id"><img src="~/assets/img/@product.ProductImages.FirstOrDefault().Name" alt=""></a>
                        </div>
                        <div class="card_content">
                            <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">@product.Name</a>
                            <p>@product.Author.Name</p>
                            <div class="card_text">
                                @{
                                    int totalRatings = ratings.Count(r => r.Comment.ProductId == product.Id && r.Comment.Product.Rating.HasValue);
                                    double averageRating = totalRatings > 0 ? (double)ratings.Where(r => r.Comment.ProductId == product.Id && r.Comment.Product.Rating.HasValue).Sum(r => r.Comment.Product.Rating.Value) / totalRatings : 0;
                                    int roundedRating = (int)Math.Round(averageRating, MidpointRounding.AwayFromZero);
                                    bool hasRating = totalRatings > 0;
                                }
                                <div class="starsreview">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        @if (hasRating && i <= roundedRating)
                                        {
                                            <i class="fa-solid fa-star" style="color:#FEC006"></i>
                                        }
                                        else
                                        {
                                            <i class="fa-solid fa-star" style="color:darkgrey"></i>
                                        }
                                    }
                                </div>
                                <div class="price">
                                    <span>$@product.Price</span>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <i id="right" class="fa-solid fa-angle-right"></i>
        </div>
    </div>
</section>

<section class="featuredthisweek">
    <div class="container">
        <div class="featuredview">
            <h2>Featured This Week</h2>
            <a asp-controller="Product" asp-action="Index">
                View All
                <hr>
            </a>
        </div>
        <div class="flex-of-cards-book">
            <div class="listofdetailscard">
                @foreach (var product in Model.Products.Take(3).OrderByDescending(m => m.Id))
                {
                    <div class="detailscard">
                        <div class="bookdetails">
                            <div class="bookimg">
                                <img src="~/assets/img/@product.ProductImages.FirstOrDefault().Name" alt="">
                            </div>
                            <div class="captions">
                                <h3>@product.Name</h3>
                                <p>By @product.Author.Name</p>
                                <span>$@product.Price</span>
                                <div class="ratedegree">
                                    @{
                                        int totalRatings = ratings.Count(r => r.Comment.ProductId == product.Id && r.Comment.Product.Rating.HasValue);
                                        double averageRating = totalRatings > 0 ? (double)ratings.Where(r => r.Comment.ProductId == product.Id && r.Comment.Product.Rating.HasValue).Sum(r => r.Comment.Product.Rating.Value) / totalRatings : 0;
                                        int roundedRating = (int)Math.Round(averageRating, MidpointRounding.AwayFromZero);
                                        bool hasRating = totalRatings > 0;
                                    }
                                    <div>
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            @if (hasRating && i <= roundedRating)
                                            {
                                                <i class="fa-solid fa-star" style="color:#FEC006"></i>
                                            }
                                            else
                                            {
                                                <i class="fa-solid fa-star" style="color:darkgrey"></i>
                                            }
                                        }
                                    </div>
                                </div>
                                <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">
                                    <button class="viewdetailsbtn">
                                        <h1>View Details</h1>
                                    </button>
                                </a>
                            </div>

                        </div>
                    </div>
                }
            </div>
            <div class="thehistoryofphipino">
                <img src="~/assets/img/@Model.Banner.Image" alt="">
            </div>
        </div>
    </div>
</section>

<section class="latestpublisheditems">
    <div class="container">
        <div class="titletab">
            <h2>Latest Published items</h2>
            <ul class="tabs">
                <li class="tab-link" data-id="All">All</li>
                @foreach (var genre in Model.Genres)
                {
                    <li class="tab-link" data-id="@genre.Id">@genre.Name</li>
                }
            </ul>
        </div>
        <div class="carousel">
            <input type="hidden" id="product-count" name="name" value="@ViewBag.Count" />
            <div class="row carousell" style="justify-content: flex-start; row-gap: 15px;">
                <partial name="_HomeProductPartial" />
            </div>
        </div>
        <div class="browsebtn">
            <a>
                <button class="browsemorebtn">
                    <h1>Browse More</h1>
                </button>
            </a>
        </div>
    </div>
</section>


<section class="advertisement">
    <div class="container">
        <div class="bookpicture">
            <div class="firstbook">
                <h2>@Model.Products.FirstOrDefault().Name</h2>
                <a asp-controller="Product" asp-action="Detail" asp-route-id="@Model.Products.FirstOrDefault().Id">
                    <button class="detailsbtn">
                        <h1>View Details</h1>
                    </button>
                </a>
            </div>
            <div class="secondbook">
                <h2>@Model.Products.LastOrDefault().Name</h2>
                <a asp-controller="Product" asp-action="Detail" asp-route-id="@Model.Products.LastOrDefault().Id">
                    <button class="detailsbtn">
                        <h1>View Details</h1>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="joinnewsletter">
    <div class="container">
        <div class="sub">
            <h3>Join Newsletter</h3>
            <p>
                Lorem started its journey with cast iron (CI) products in 1980. The initial main
                objective<br>wastoensure pure water and affordable irrigation.
            </p>
            <form action="#">
                <input type="text" placeholder="Enter your email" required="required">
                <a href="">
                    <button class="subscribe-btn">
                        <h1>Subscribe</h1>
                    </button>
                </a>
            </form>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/assets/slick/slick.min.js"></script>
    <script src="~/assets/js/script.js"></script>
    <script src="~/assets/js/homepage(imageslider).js"></script>
}