@model BlogVM

@{
    ViewData["Title"] = "Detail";
}

@section Links{
    <link rel="stylesheet" href="~/assets/css/blogdetails.css">
}

<section class="slider-area">
    <div class="container">
        <div class="blogdetailsection">
            <h2>Blog Details</h2>
        </div>
    </div>
</section>

<section class="blog-post-area">
    <div class="container">
        <div class="post-section">
            <div class="post-list">
                <div class="single-post">
                    <div class="single-post-img">
                        <img src="~/assets/img/@Model.Blog.Image" alt="">
                    </div>
                    <h2>@Model.Blog.Name</h2>
                    <ul class="post-info-link">
                        <li class="travel-lifestyle">
                            <a href="">
                                <i class="fa-solid fa-user"></i>
                                &nbsp;
                                @Model.Blog.BlogCategory.Name
                            </a>
                        </li>
                        <div class="v_line"></div>
                        <li class="comments">
                            <a href="">
                                <i class="fa-solid fa-comments"></i>
                                &nbsp;
                                03 Comments
                            </a>
                        </li>
                    </ul>
                    <div class="quote-wrapper">
                        <div class="quotes">
                            @Model.Blog.Description
                        </div>
                    </div>
                </div>
                <div class="comments-area">
                    <h4>05 Comments</h4>
                    <div class="comment-list">
                        <div class="thumb">
                            <img src="~/assets/img/comment_1.png.webp" alt="">
                        </div>
                        <div class="desc">
                            <p class="comment">
                                Multiply sea night grass fourth day sea lesser rule open subdue female fill which
                                them
                                Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                            </p>
                            <div class="name-date-reply">
                                <div class="name-date">
                                    <a href="">
                                        <h5>Emilly Blunt</h5>
                                    </a>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                </div>
                                <div class="reply-btn">
                                    <a href="" class="btn-reply">reply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list">
                        <div class="thumb">
                            <img src="~/assets/img/comment_2.png.webp" alt="">
                        </div>
                        <div class="desc">
                            <p class="comment">
                                Multiply sea night grass fourth day sea lesser rule open subdue female fill which
                                them
                                Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                            </p>
                            <div class="name-date-reply">
                                <div class="name-date">
                                    <a href="">
                                        <h5>Emilly Blunt</h5>
                                    </a>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                </div>
                                <div class="reply-btn">
                                    <a href="" class="btn-reply">reply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list">
                        <div class="thumb">
                            <img src="~/assets/img/comment_3.png.webp" alt="">
                        </div>
                        <div class="desc">
                            <p class="comment">
                                Multiply sea night grass fourth day sea lesser rule open subdue female fill which
                                them
                                Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                            </p>
                            <div class="name-date-reply">
                                <div class="name-date">
                                    <a href="">
                                        <h5>Emilly Blunt</h5>
                                    </a>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                </div>
                                <div class="reply-btn">
                                    <a href="" class="btn-reply">reply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-form">
                    <h4>Leave a Reply</h4>
                    <form action="#">
                        <textarea name="" id="" placeholder="Write Comment" required="required"></textarea>
                        <div class="name-email">
                            <input class="name" type="text" placeholder="Name">
                            <input class="email" type="text" placeholder="Email">
                        </div>
                        <div class="website">
                            <input class="website-input" type="text" placeholder="Website">
                        </div>
                        <div class="post-comment">
                            <button>Post Comment</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="sidebar">
                <div class="category-widget">
                    <h4>Category</h4>
                    <ul class="list-news">
                        @foreach (var blogCategory in Model.BlogCategories)
                        {
                            <li style="cursor: pointer;" class="filter-category" category-id="@blogCategory.Id">
                                <a asp-action="Index" asp-route-id="@blogCategory.Id">
                                    <p>@blogCategory.Name</p>
                                    <p>(@blogCategory.Blogs.Count)</p>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="post-widget">
                    <h4>Recent Post</h4>
                    @foreach (var blog in Model.Blogs.Take(4))
                    {
                        <div class="media-post-item">
                            <img width="80px" height="80px" src="~/assets/img/@blog.Image" alt="">
                            <div class="media-body">
                                <a asp-action="Detail" asp-route-id="@blog.Id">
                                    <h3>@blog.Name</h3>
                                </a>
                                <p>@blog.CreatedAt.ToString("MMMM dd"), @blog.CreatedAt.ToString("yyyy")</p>
                            </div>
                        </div>
                    }
                </div>
                <div class="newsletter-widget">
                    <h4>Newsletter</h4>
                    <form action="#">
                        <div>
                            <input type="text" placeholder="Enter email" required="required">
                        </div>
                        <button class="sub-btn">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/assets/js/blogdetails.js"></script>
}