@model BlogVM

@{
    ViewData["Title"] = "Index";
}

@section Links{
    <link rel="stylesheet" href="~/assets/css/blog.css">
}

<section class="slider-area">
    <div class="container">
        <div class="blogsection">
            <h2>Blog</h2>
        </div>
    </div>
</section>

<section class="blog-area">
    <div class="container">
        <div class="blog">
            <div class="news">
                <partial name="_BlogsPartial" />
            </div>
            <div class="sidebar">
                <div class="sidebar-search">
                    <form action="">
                        <div class="search">
                            <input id="search" type="text" placeholder="Search Keyword">
                        </div>
                    </form>
                </div>
                <div class="category-widget">
                    <h4>Category</h4>
                    <ul class="list-news">
                        @foreach (var blogCategory in Model.BlogCategories)
                        {
                            <li style="cursor: pointer;" class="filter-category" category-id="@blogCategory.Id">
                                <a>
                                    <p>@blogCategory.Name</p>
                                    <p>(@blogCategory.Blogs.Count)</p>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="post-widget">
                    <h4>Recent Post</h4>
                    @foreach (var blog in Model.Blogs.Take(4))
                    {
                        <div class="media-post-item">
                            <img width="80px" height="80px" src="~/assets/img/@blog.Image" alt="">
                            <div class="media-body">
                                <a asp-action="Detail" asp-route-id="@blog.Id">
                                    <h3>@blog.Name</h3>
                                </a>
                                <p>@blog.CreatedAt.ToString("MMMM dd"), @blog.CreatedAt.ToString("yyyy")</p>
                            </div>
                        </div>
                    }
                </div>
                <div class="tag-widget">
                    <h4>Tag Clouds</h4>
                    <ul class="list-tag">
                        @foreach (var tag in Model.Tags)
                        {
                            <li style="cursor: pointer;" class="filter-tag" tag-id="@tag.Id"><a>@tag.Name</a></li>
                        }
                    </ul>
                </div>
                <div class="newsletter-widget">
                    <h4>Newsletter</h4>
                    <form action="#">
                        <div>
                            <input type="text" placeholder="Enter email" required="required">
                        </div>
                        <button class="sub-btn">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/assets/js/blog.js"></script>
}