@model BlogVM

<div class="blog-list">
    @foreach (var blog in Model.Blogs)
    {
        <div class="blog-item">
            <div class="blog-item-img">
                <img src="~/assets/img/@blog.Image" alt="">
                <a href="" class="blog-item-date">
                    <h3>@blog.CreatedAt.ToString("dd")</h3>
                    <p>@blog.CreatedAt.ToString("MMM")</p>
                </a>
            </div>
            <div class="blog-details">
                <a asp-action="Detail" asp-route-id="@blog.Id" class="blog-head">
                    <h2>@blog.Name</h2>
                </a>
                <p>
                    @blog.Description
                </p>
                <ul class="blog-info-link">
                    <li class="travel-lifestyle">
                        <a href="">
                            <i class="fa-solid fa-user"></i>
                            &nbsp;
                            @blog.BlogCategory.Name
                        </a>
                    </li>
                    <div class="v_line"></div>
                    <li class="comments">
                        <a href="">
                            <i class="fa-solid fa-comments"></i>
                            &nbsp;
                            03 Comments
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    }
    <div class="blog-pagination">
        <ul class="pagination">
            <li class="page-item"><a href=""><i class="fa-solid fa-chevron-left"></i></a></li>
            <li class="page-item"><a href="">1</a></li>
            <li class="page-item"><a href="">2</a></li>
            <li class="page-item"><a href=""><i class="fa-solid fa-chevron-right"></i></a></li>
        </ul>
    </div>
</div>
