@model Product

@{
    ViewData["Title"] = "Detail";
    Product product = ViewBag.Product;
    List<Rating> ratings = ViewBag.Ratings;
}

@section Links{
    <link rel="stylesheet" href="~/assets/css/bookdetails.css">
}

<section class="addtocart">
    <div class="container">
        <div class="detailscard">
            <div class="bookdetails">
                <div class="bookimg">
                    <img src="~/assets/img/@Model.ProductImages.FirstOrDefault().Name" alt="">
                </div>
                <div class="captions">
                    <h3>@Model.Name</h3>
                    <p>By @Model.Author.Name</p>
                    <p>@Model.ProductGenres.FirstOrDefault().Genre.Name</p>
                    <span>$@Model.Price</span>
                    <div class="ratedegree">
                        <div>
                            @await Html.PartialAsync("_RatingPartial", ratings)
                        </div>
                    </div>
                    <a class="addtocartway" id="addToCart" cart-id="@Model.Id">
                        <button class="addtocartbtn">
                            <h1>Add To Cart</h1>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="aboutbook">
    <div class="container">
        <div class="titletab">
            <ul class="tabs">
                <li class="tab-link current" data-tab="tab-1">Description</li>
                <li class="tab-link" data-tab="tab-2">Author</li>
                <li class="tab-link" data-tab="tab-3">Reviews</li>
            </ul>
        </div>
        <div id="tab-1" class="tab-content current">
            <p>
                @Model.Description
            </p>
        </div>
        <div id="tab-2" class="tab-content">
            <p>
                @Model.Author.About
            </p>
        </div>
        <div id="tab-3" class="tab-content">
            <div class="comment-list">
                <div class="desc">
                    @await Html.PartialAsync("_ProductCommentPartial", product)
                </div>
            </div>
            <form asp-action="AddComment" asp-route-id="@Model.Id" method="post">
                <div class="rating-box">
                    <div class="stars">
                        <i class="fa-solid fa-star" id="rate-it" onclick="fillStars(1)">
                            <input asp-for="Comments.FirstOrDefault(c=>c.ProductId == Model.Id).Rating.Point" no-checked type="radio" value="1" style="display:none" />
                        </i>
                        <i class="fa-solid fa-star" id="rate-it" onclick="fillStars(2)">
                            <input asp-for="Comments.FirstOrDefault(c=>c.ProductId == Model.Id).Rating.Point" no-checked type="radio" value="2" style="display:none" />
                        </i>
                        <i class="fa-solid fa-star" id="rate-it" onclick="fillStars(3)">
                            <input asp-for="Comments.FirstOrDefault(c=>c.ProductId == Model.Id).Rating.Point" no-checked type="radio" value="3" style="display:none" />
                        </i>
                        <i class="fa-solid fa-star" id="rate-it" onclick="fillStars(4)">
                            <input asp-for="Comments.FirstOrDefault(c=>c.ProductId == Model.Id).Rating.Point" no-checked type="radio" value="4" style="display:none" />
                        </i>
                        <i class="fa-solid fa-star" id="rate-it" onclick="fillStars(5)">
                            <input asp-for="Comments.FirstOrDefault(c=>c.ProductId == Model.Id).Rating.Point" no-checked type="radio" value="5" style="display:none" />
                        </i>
                    </div>
                </div>

                <textarea asp-for="Comments.FirstOrDefault(cm => cm.Product.Id == Model.Id).Message" placeholder="Comment" required="required"></textarea>
                <div class="post-review">
                    <button class="post">Post Comment</button>
                </div>
            </form>
        </div>
</section>

<section class="joinnewsletter">
    <div class="container">
        <div class="sub">
            <h3>Join Newsletter</h3>
            <p>
                Lorem started its journey with cast iron (CI) products in 1980. The initial main
                objective<br>wastoensure pure water and affordable irrigation.
            </p>
            <form action="#">
                <input type="text" placeholder="Enter your email" required="required">
                <a href="">
                    <button class="subscribe-btn">
                        <h1>Subscribe</h1>
                    </button>
                </a>
            </form>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/assets/js/bookdetails.js"></script>
}

<script>
    function fillStars(rating) {
        const stars = document.querySelectorAll('#rate-it');
        stars.forEach((star, i) => {
            star.addEventListener("click", function () {
                star.firstElementChild.click();
                let currentStar = i + 1;
                stars.forEach((star, j) => {
                    if (currentStar >= j + 1) {
                        star.classList.add("active");
                        star.style.color = "#FEC006";
                    } else {
                        star.classList.remove("active");
                        star.style.color = "lightgray";
                    }
                });
            })
        });
    }
</script>