@model ProductVM

@{
    ViewData["Title"] = "Detail";
}

@section Links{
    <link rel="stylesheet" href="~/assets/css/bookdetails.css">
}

<section class="addtocart">
    <div class="container">
        <div class="detailscard">
            <div class="bookdetails">
                <div class="bookimg">
                    <img src="~/assets/img/@Model.Product.ProductImages.FirstOrDefault(m => m.IsMain).Name" alt="">
                </div>
                <div class="captions">
                    <h3>@Model.Product.Name</h3>
                    <p>By @Model.Product.Author.Name</p>
                    <p>@Model.Product.ProductGenres.FirstOrDefault().Genre.Name</p>
                    <span>$@Model.Product.Price</span>
                    <div class="ratedegree">
                        <div>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                        <p>(120Review)</p>
                    </div>
                    <a class="addtocartway" id="addToCart" cart-id="@Model.Product.Id">
                        <button class="addtocartbtn">
                            <h1>Add To Cart</h1>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="aboutbook">
    <div class="container">
        <div class="titletab">
            <ul class="tabs">
                <li class="tab-link current" data-tab="tab-1">Description</li>
                <li class="tab-link" data-tab="tab-2">Author</li>
                <li class="tab-link" data-tab="tab-3">Reviews</li>
            </ul>
        </div>
        <div id="tab-1" class="tab-content current">
            <p>
                @Model.Product.Description
            </p>
        </div>
        <div id="tab-2" class="tab-content">
            <p>
                @Model.Product.Author.About
            </p>
        </div>
        <div id="tab-3" class="tab-content">
            <div class="comment-list">
                <div class="thumb">
                    <img src="~/assets/img/comment_1.png.webp" alt="">
                </div>
                <div class="desc">
                    <p class="comment">
                        Multiply sea night grass fourth day sea lesser rule open subdue female fill which
                        them
                        Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                    </p>
                    <div class="name-date">
                        <a href="">
                            <h5>Emilly Blunt</h5>
                        </a>
                        <p class="date">December 4, 2017 at 3:12 pm </p>
                        <div class="starsreview">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rating-box">
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <form action="#">
                <textarea name="" id="" placeholder="Comment" required="required"></textarea>
                <div class="name-email">
                    <input class="name" type="text" placeholder="Name">
                    <input class="email" type="text" placeholder="Email">
                </div>
                <div class="post-review">
                    <button>Post Comment</button>
                </div>
            </form>
        </div>
</section>

<section class="joinnewsletter">
    <div class="container">
        <div class="sub">
            <h3>Join Newsletter</h3>
            <p>
                Lorem started its journey with cast iron (CI) products in 1980. The initial main
                objective<br>wastoensure pure water and affordable irrigation.
            </p>
            <form action="#">
                <input type="text" placeholder="Enter your email" required="required">
                <a href="">
                    <button class="subscribe-btn">
                        <h1>Subscribe</h1>
                    </button>
                </a>
            </form>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/assets/js/bookdetails.js"></script>
}